* {
    background-color: rgb(241, 227, 163);
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
}

p {
    font-size: large;
    font-weight: bold;
}

.list {
    border-style: solid;
    border-color:black;
    align-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    border-style: solid;
    border-color: grey;
    display: flex;
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px;
    background-color:bisque;
}

a {
    display: block;
    text-align: center;
    background-color:inherit;
}

p {
    background-color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.recipes {
    display: flexbox;
}

.desc {
    text-align: center;
}