body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    /* justify-content: center; */
    /* align-items: center; */
}

header {
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: #F9FAF8;
    background: #1F2937;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    /* border: solid green; */
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    gap: 20px;
    font-size: 17px;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: solid red;
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
}

.part1 {
    /* border: solid blue; */
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 10px;
    flex-direction: row;
    /* max-width: 1820px; */
    justify-content: space-around;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* align-self: stretch; */
    /* gap: 50px; */
}

.part1 h1 {
    font-size: 48px;
    font-family: arial,sans-serif;
    font-weight: bolder;
}

.part1 .pinner1 {
    /* border: solid green; */
    /* padding: 10px; */
    flex-direction: column;
}

button {
    background: #3882F6;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
}

.part1 img {
    justify-self: center;
    align-self: center;
}

footer {
    padding: 10px;
    background: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}