@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /* border: solid red; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.footer {
  /* border: solid green; */
  display: flex;
  padding: 0;
  justify-content: space-between;
  background-color: #eeeeee;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  /* border: solid purple; */
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.left-links {
  display: flex;
  padding: 5px;

}

.right-links {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(73, 71, 71);
}